<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Sklep rowerowy Szprycha!</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Szprycha!</h1>
            <h2>Sklep rowerowy</h2>
            <nav>
                <a href="/">Strona Główna</a>
                <a href="/oferta">Oferta sklepu</a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
            <div style="clear: both;"></div>
        </main>
        <footer>
            <p>
                Kontakt z bazą: 888888888
            </p>
        </footer>
    </body>
</html>
